*.desktop
aclocal.m4
compile
config.*
configure
install-sh
lxde-logout
LXDE.desktop.in
lxpanel/panel
Makefile
Makefile.in
missing
openbox-lxde
openbox/rc.xml
pcmanfm/pcmanfm.conf
po/.intltool-merge-cache
po/LINGUAS
po/Makefile.in.in
po/POTFILES
po/stamp-it
startlxde
