Source: lxde-common
Section: x11
Priority: optional
Maintainer: Andrew Lee (李健秋) <ajqlee@debian.org>
Build-Depends: debhelper (>= 5), autotools-dev, libgtk2.0-dev (>=2.6), dpatch, docbook-to-man
Standards-Version: 3.8.3
Homepage: http://lxde.sourceforge.net

Package: lxde-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lxsession (>= 0.4.1)
Recommends: lxde-core (>= ${source:Version})
Suggests: lxlauncher
Description: the Lightweight X11 Desktop Environment configuration data
 LXDE (the Lightweight X11 Desktop Environment) is a project aimed
 to provide a new desktop environment which is lightweight and fast.
 .
 It's not designed to be powerful and bloated, but to be usable and slim
 enough, and keep the resource usage low.  Different from other desktop 
 environments, lxde don't tightly integrate every component. Instead, 
 lxde tried to make all components independent, and each of them can be 
 used independently with fewer dependencies.
 .
 Features:
  - Lightweight, runs with reasonable memory usage
  - Fast, rund well even on older machines produced in 1999
  - Good-looking, GTK+ 2 internationalized user interface
  - Easy-to-use, the user interface is simple, but usable enough
  - Desktop independent (suprise! Every component can be used without LXDE)
  - Standard compliant, follows the specs on freedesktop.org

Package: lxde-core
Architecture: all
Depends: lxde-common (>= ${source:Version}), pcmanfm | pcmanfm-nohal, lxpanel (>= 0.4), openbox (>= 3.4.6.1)
Recommends: hal, xscreensaver, lxterminal | x-terminal-emulator
Suggests: lxlauncher, iceweasel | www-browser
Description: Meta-package for the Lightweight X11 Desktop Environment Core
 LXDE (the Lightweight X11 Desktop Environment) is a new project aimed
 to provide a new desktop environment which is lightweight and fast.
 .
 This package is a metapackage depends on the recommended core components
 of the LXDE. It includes pcmanfm, lxpanel, lxsession, openbox and 
 xscreensaver.
 .
 If you just want to pick and choose the core components then feel free 
 to remove this package.

Package: lxde
Architecture: all
Depends: lxde-core (>= ${source:Version}), lxappearance (>=0.2), lxinput (>=0.1), lxsession-edit, lxshortcut, gpicview (>= 0.1.9), lxterminal, leafpad, xarchiver, lxrandr, obconf, lxde-icon-theme
Recommends: gdm | x-display-manager, hal, iceweasel | www-browser, lxmusic, menu-xdg
Suggests: lxlauncher, lxtask
Description: Meta-package for the Lightweight X11 Desktop Environment
 LXDE (the Lightweight X11 Desktop Environment) is a new project aimed
 to provide a new desktop environment which is lightweight and fast.
 .
 This package is a metapackage depends on the core components and 
 recommended components of the LXDE. It includes lxde-core, lxappearance,
 lxinput, lxsession-edit, lxshortcut, gpicview, lxterminal, lxmusic, 
 leafpad and xarchiver.
 .
 If you just want to pick and choose the core components then feel free 
 to remove this package.
